<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/lumen/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-715VMUUaOfZR3/rWXZJ9agJ/udwSXGEigabzUbJm2NR4/v5wpDy8c14yedZN6NL7" crossorigin="anonymous">
    <title>Donate | {{.Name}}</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">{{.Name}}</a>
    </nav>
    <div class="wrapper">
        <div class="content">
            <h1>Donate to {{.Name}}</h1>
            <div class="form-group">
                <label class="control-label">Amount</label>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input type="number" class="form-control" id="amount" aria-label="Amount">
                    </div>
                </div>
                {{if .AllowRecur}}
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="recur">
                        <label class="custom-control-label" for="recur">Make this a monthly donation</label>
                    </div>
                </div>
                {{end}}
            </div>
            <div>
                <button type="button" class="btn btn-success" id="submit" disabled>Continue</button>
            </div>
            <footer class="footer mt-auto py-3">
                <div class="container">
                    <hr>
                    <span class="text-muted">{{.Disclaimer}}</span>
                    {{if .AllowRecur}}
                    <hr>
                    <small><a href="/stoprecur">Cancel a recurring donation</a></small>
                    {{end}}
                </div>
            </footer>
        </div>
    </div>
    <span id="publicKey">{{.StripePublicKey}}</span>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="main.js"></script>
</body>

</html>