<footer class="footer">
	<div class="container">
		<div class="columns">
			<div class="column">
				<div class="mb-2">
					<img src="/assets/img/logo.svg" class="logo">
					<h1 class="is-size-3"><strong>Donorfide</strong></h1>
				</div>
				<a href="mailto:hey@donorfide.org">hey@donorfide.org</a>
				<p>Made with love and lots of coffee in New York.</p>
			</div>
			<div class="column">
				<div class="heading">Documentation</div>
				<ul>
					<li><a href="#">Installation instructions</a></li>
					<li><a href="#">Managing donations</a></li>
					<li><a href="#">More documentation &raquo;</a></li>
				</ul>
			</div>
			<div class="column">
				<div class="heading">Social</div>
				<ul>
					<li><a href="https://github.com/willbarkoff/donorfide">GitHub</a></li>
					<li><a href="/contribute">Contribute to the project</a></li>
				</ul>
			</div>

		</div>
		<small>&copy; 2021. Donorfide is <a href="https://github.com/willbarkoff/donorfide">open source
				software</a>.</small>
	</div>
</footer>