<!-- Document meta -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title> {% if page.url != '/' %}{{ page.title }} | {% endif %}{{site.title}}</title>

<!-- Preconnects -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://cdn.jsdelivr.net">

<!-- External scripts -->
<script defer src="https://use.fontawesome.com/releases/v5.15.1/js/all.js"></script>

<!-- External styles -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Wikiki/bulma-tooltip@3.0.2/dist/css/bulma-tooltip.min.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=JetBrains+Mono&display=swap">

<!-- Styles -->
<link rel="stylesheet" href="/assets/css/style.css">