<!-- Document meta -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title> {% if page.url != '/' %}{{ page.title }} | {% endif %}{{site.title}}</title>

<!-- Preconnects -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://cdn.jsdelivr.net">

<!-- External scripts -->
<script defer src="https://use.fontawesome.com/releases/v5.15.1/js/all.js"></script>

<!-- External styles -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" />
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tooltip@1.2.0/dist/bulma-tooltip.min.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=JetBrains+Mono&display=swap">

<!-- Styles -->
<link rel="stylesheet" href="/assets/css/style.css">

<!-- Faviocns and the like -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">